h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bbb;
}

.section__heading {
  color: mediumaquamarine;
  font-size: 45px;
  font-weight: 700;
}
