h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bbb;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.section__heading {
  color: #212121;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 10px 0;
}

.section__text {
  font-size: 35px;
}

.section__item {
  font-size: 25px;
  font-weight: 500;
}

strong {
  color: #2493df;
}

footer {
    color: #595959;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

strong {
    color: #2493df;
}

label {
    font-size: 16px;
    font-weight: bold;
}


section {
    padding: 10px;
}
